<footer class="footer_widgets">
    <!--newsletter area start-->
    <div class="newsletter_area">
        <div class="container">
            <div class="newsletter_inner">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-5">
                        <div class="newsletter_sing_up">
                            <h3>عضویت در خبرنامه</h3>
                            <p>با عضویت از <span>30% تخفیف</span> بهره مند شوید</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="subscribe_content">
                            <p><strong>به 226,000+ مشترک ما</strong> بپیوندید و از تخفیف های ویژه هفتگی مخصوص مشترکین خبرنامه بهره مند شوید.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter">
                                <input id="mc-email" type="email" autocomplete="off" placeholder="... آدرس ایمیل شما" dir="ltr">
                                <button id="mc-submit">اشتراک</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--newsletter area end-->
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="widgets_container widget_menu">
                        <h3>اطلاعات</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a asp-page="/AboutUs">درباره ما</a></li>
                                <li><a asp-page="/ContactUs">تماس با ما</a></li>
                                <li><a asp-page="/FrequentQuestion">نحوه ارسال</a></li>
                                <li><a asp-page="/FrequentQuestion">سوالات متداول</a></li>
                                <li><a asp-page="/PrivacyPolicy">حریم خصوصی</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>حساب کاربری</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a asp-page="/Account">حساب کاربری</a></li>
                                <li><a asp-page="/ShoppingCart">سبد خرید</a></li>
                                <li><a asp-page="/WishList">علاقه‌مندی‌ها</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>شرایط همکاری</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a asp-page="/FrequentQuestion">شرایط همکاری</a></li>
                                <li><a asp-page="/FrequentQuestion">فروش از طریق سایت</a></li>
                                <li><a asp-page="/FrequentQuestion">درآمد از طریق فروش</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 col-sm-12">
                    <div class="widgets_container">
                        <h3>اطلاعات تماس</h3>
                        <div class="footer_contact">
                            <div class="footer_contact_inner">
                                <div class="contact_icone">
                                    <img src="~/SiteTheme/assets/img/icon/icon-phone.png" alt="">
                                </div>
                                <div class="contact_text">
                                    <p>تلفن تماس 24 ساعته: <br> <strong class="ltr-text">(+98) 933 787 8585</strong></p>
                                </div>
                            </div>
                            <p>آذربایجان غربی. بوکان. خیابان باهنر (خیابان آموزش و پرورش). پلاک 5</p>
                        </div>

                        <div class="footer_social">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="facebook" href="#"><i class="fa fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-7">
                    <div class="widgets_container contact_us">
                        <h3>نشان های اعتماد الکترونیکی</h3>
                        <div class="aff_content">
                            <p>نشان <strong>اعتماد الکترونیکی</strong> به زودی به سایت تعلق می گیرد.</p>
                        </div>
                        <div class="app_img">
                            <figure class="app_img">
                                <a href="#"><img src="~/SiteTheme/assets/img/icon/logo.png" alt="نشان اعتماد الکترونیکی" title="نشان اعتماد الکترونیکی"></a>
                                <a href="#"><img src="~/SiteTheme/assets/img/icon/logo1.png" alt="نشان اعتماد الکترونیکی" title="نشان اعتماد الکترونیکی"></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p>کلیه حقوق وب سایت محفوظ است. طراح و برنامه نویس سایت <a href="">نوید قوامی </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>