
<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title s_title_style3">
                    <h2>آخرین مقاله ها</h2>
                </div>
                <div class="blog_container blog_column4 owl-carousel">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="~/SiteTheme/assets/img/blog/blog1.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <h4><a href="blog-details.html">مطلب دارای گالری</a></h4>
                                <div class="post_meta">
                                    <p>توسط  <a href="#">مدیر</a> در تاریخ <a href="#">18 بهمن 1398</a></p>
                                </div>
                                <div class="post_desc">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                </div>
                                <footer class="post_readmore">
                                    <a href="#">بیشتر بخوانید</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>