<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/SiteTheme/assets/img/favicon.ico">

    <meta name="theme-color" content="#c40316">

    <!-- CSS
    ========================= -->
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/SiteTheme/assets/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/SiteTheme/assets/css/style.css">
    <link rel="stylesheet" href="~/SiteTheme/assets/css/Custom.css">

</head>

<body>
    <!--header area start-->
    @await Component.InvokeAsync("Menu")
    <!--header area end-->

    @RenderBody()

    <!--footer area start-->
    @await Component.InvokeAsync("Footer")
    <!--footer area end-->


    <div id="MainModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content" id="ModalContent">

            </div>
        </div>
    </div>

    <!-- JS
            ============================================ -->
    <!-- Plugins JS -->
    <script src="~/SiteTheme/assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="~/SiteTheme/assets/js/main.js"></script>
    <script src="~/SiteTheme/assets/js/Custom.js"></script>
    <script src="~/SiteTheme/assets/js/site.js"></script>
    <script src="~/SiteTheme/assets/js/map.js"></script>

    <script src="~/ckEditor/ckeditor-customized2/ckeditor.js"></script>

    <script>
        $(document).ready(function () {
            updateCart();
        });
    </script>

    <script type="text/javascript">
        CKEDITOR.replace('message');
    </script>
</body>

</html>