.SliderIMG {
    width: 1430px;
    height: 105%;
    position: absolute;
}
.SliderContent {
    padding-top: 70px;
    padding-bottom: 80px;
    position: relative;
}
.ProductCategoryBanner img {
    width: 100%;
}