@page
@model ServiceHost.Pages.AboutUsModel

@{
    ViewData["Title"] = "درباره ما";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-page="/Index">صفحه اصلی</a></li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_bg_area">
    <div class="container">
        <!--about section area -->
        <section class="about_section mb-60">
            <div class="row align-items-center">
                <div class="col-12">
                    <figure>
                        <div class="about_thumb">
                            <img src="~/SiteTheme/assets/img/about/about1.jpg" alt="">
                        </div>
                        <figcaption class="about_content">
                            <h1 class="text text-danger">«هنر نمایانگر واقعی ظریف‌ترین احساسات ماست.»</h1>
                            <p>
                                خداوند به هر کس تابلوی نقاشی سفیدی در ابتدای زندگی او داده است. وقتی که خدا به ما قلمو و رنگ می‌دهد کلمه ی «هدف» را زمزمه می‌کند، و ما را آزاد می‌گذارد تا هنرمند زندگی خود باشیم
                                هنر مجموعه ای از آثار یا فرایندهای ساخت انسان است که در جهت اثرگذاری
                                بر عواطف احساسات و هوش انسانی یا به منظور انتقال یک معنا یا مفهوم خلق می شوند.
                            </p>
                            <br />
                            <p>
                                شرکت هنری ما حاصل یک تفکر تحول گرا و زیبایی محور است. این گروه در سال 2021 میلادی با اهدافی بزرگ و آرمان گرایانه پا به عرصه تجارت داخلی نهاد و از همان ابتدا با رویکردی انقلابی در زمینه تبلیغات و بازاریابی در عرصه هنر، توانسته است تا به امروز در این مسیر استوار و ثابت قدم باقی بماند.
                                هدف ما رسیدن به جایگاهی فراتر از مرزهای کشور عزیزمان است. ما ارائه دهنده یک بستر کامل از خدمات و فروش محصولات هنری می باشیم. این بدان معنی است که ما با بهره مندی از بهترین کارشناسان و متخصصان در زمینه فروش آنلاین و تولید محتوا در فضا های مجازی، به مشتریان خود سرویس ها و خدمات بی نظیری را ارائه میدهیم.
                                اگر به یک بستر فروشگاهی آنلاین برای فروش محصولتان، یا یک وبسایت منحصر به فرد و یا یک استراتژی بی رقیب نیازمند هستید، ما شما را حمایت می کنیم تا تمامی اهداف مشترکمان محقق شود.

                            </p>
                            <br />
                            <h1 class="text text-danger">«ما شما را شگفت زده خواهیم کرد.»</h1>

                            <div class="about_signature">
                                <img src="~/SiteTheme/assets/img/about/about-us-signature.png" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <!--about section end-->
        <!--chose us area start-->
        <div class="choseus_area" data-bgimg="~/SiteTheme/assets/img/about/about-us-policy-bg.jpg" style="background-image: url(&quot;~/SiteTheme/assets/img/about/about-us-policy-bg.jpg&quot;);">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="~/SiteTheme/assets/img/about/About_icon1.png" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>محصولات با کیفیت</h3>
                            <p>ما این تضمین را به شما می دهیم که محصولات هنری با کیفیتی را به شما ارائه دهیم و با افتخار از خریدی که داشته اید لذت ببرید.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="~/SiteTheme/assets/img/about/About_icon2.png" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>100% ضمانت بازگشت کالا</h3>
                            <p>در صورت بروز هرگونه مشکل، اعم از خرابی محصول، بی کیفیت بودن و بسته بندی نامناسب که منجر به آسیب به محصول شده است کالا را بی هیچ قید و شرطی تحویل می گیریم و کالای نو را برایتان مجددا ارسال می نماییم.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single_chose">
                        <div class="chose_icone">
                            <img src="~/SiteTheme/assets/img/about/About_icon3.png" alt="">
                        </div>
                        <div class="chose_content">
                            <h3>پشتیبانی 24 ساعته</h3>
                            <p>در هر ساعت از شبانه روز می توانید از طریق شماره تلفن های درج شده یا برنامه های  پیام رسان مربوطه با ما در تماس باشید.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--chose us area end-->
        <!--services img area-->
        <div class="about_gallery_section mb-55">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/SiteTheme/assets/img/about/about2.jpg" alt="">
                            </div>
                            <figcaption class="about_gallery_content">
                                <h3>ما چکار می کنیم؟</h3>
                                <p>تیم خلاق و کاری  ما گرد آمده است تا افرادی را که در حوزه تولید محصولات هنری فعالیت می کنند پیدا نموده تا بتوانند از بستر حرفه ای مربوطه ما جهت فروش محصولاتشان استفاده نمایند.</p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/SiteTheme/assets/img/about/about3.jpg" alt="">
                            </div>
                            <figcaption class="about_gallery_content">
                                <h3>ماموریت ما</h3>
                                <p>ما به دنبال شناساندن و نمایان کردن هنر به مردم کشور عزیزمان هستیم تا از این طریق افراد هنرمندی که ناشناخته مانده اند بتوانند در فضای آنلاین و مجازی  هنرشان را به هم میهنانشان ارائه دهند.</p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/SiteTheme/assets/img/about/about5.jpg" alt="">
                            </div>
                            <figcaption class="about_gallery_content">
                                <h3>تاریخچه ما</h3>
                                <p>تیم کاری و  خلاق و حرفه ای ما در سال 1400 فعالیت خود را آغاز نموده است تا با یاری و تلاش خودمان و لطف ایزد بتوانیم خدمت کوچکی را در زمینه هنر برای هم وطنان عزیزمان به ارمغان بیاوریم.</p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
        <!--services img end-->
        <!--Team img area-->
        <div class="section_title">
            <h2>اعضای شرکت</h2>
        </div>
        <div class="about_gallery_section mb-55">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/SiteTheme/assets/img/about/about6.jpg" alt="مدیر و موسس سایت : نوید قوامی">
                            </div>
                            <figcaption class="about_gallery_content">

                                <h3>مدیر و موسس سایت : نوید قوامی</h3>
                                <p>
                                    اینجانب نوید قوامی مدیر و موسس  سایت هنری ... می باشم.<br><br>

                                    هــنر نوعی رستگاری است. ما را از خواستن.

                                    یعنی درد و رنج آزادی می بخشد.

                                    تصاویر زندگانی را دلربا می کند.
                                </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/SiteTheme/assets/img/about/about7.jpg" alt="">
                            </div>
                            <figcaption class="about_gallery_content">

                                <h3>طراح گرافیک سایت : سحر درخشان</h3>
                                <p>
                                    اینجانب سحر درخشان  گرافیست سایت هنری ... می باشم.<br><br>

                                    آن چه می خواهم بگویم این است که اصولا زندگی بسیار بیشتر از هــنر تقلید می کند تا هنر از زندگی.

                                </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="single_gallery_section">
                        <figure>
                            <div class="gallery_thumb">
                                <img src="~/SiteTheme/assets/img/about/about8.jpg" alt="">
                            </div>
                            <figcaption class="about_gallery_content">

                                <h3>ادیتور و تدوینگر ویدیو: امین کارشی</h3>
                                <p>
                                    اینجانب امین کارشی ادیتور و تدوینگر سایت هنری ... می باشم.<br><br>

                                    در این دنیای پست و درمانده که کوچکترین شور و اشتیاق مواجه با حرمان می شود

                                    یگانه روزنه گریز. هــنر است و بس.

                                </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
        <!--Team img end-->
        <!--testimonial area start-->
        <div class="faq-client-say-area">
            <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section_title">
                    <h2>ما چه کاری می توانیم برای شما انجام دهیم؟</h2>
                </div>
                <div class="faq-style-wrap" id="faq-five">
                    <!-- Panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a id="octagon" class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse1" aria-expanded="true" aria-controls="faq-collapse1"> <span class="button-faq"></span>فروش محصولات از طریق سایت</a>
                            </h5>
                        </div>
                        <div id="faq-collapse1" class="collapse show" aria-expanded="true" role="tabpanel" data-parent="#faq-five">
                            <div class="panel-body">

                                <p>
                                    شما می توانید به صورت همکاری محصولاتتان را در سایت قرار داده و به فروش برسانید.
                                </p>
                                <p> وب سایت ما از آخرین امکانات بروز برخوردار است.</p>
                            </div>
                        </div>
                    </div>
                    <!--// Panel-default -->
                    <!-- Panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse2" aria-expanded="false" aria-controls="faq-collapse2"> <span class="button-faq"></span>تولید محتوای محصول به صورت حرفه ای</a>
                            </h5>
                        </div>
                        <div id="faq-collapse2" class="collapse" aria-expanded="false" role="tabpanel" data-parent="#faq-five">
                            <div class="panel-body">

                                <p>
                                    تیم ما متشکل از متخصصان در زمینه تولید محتوا در فضای سایت و فضای مجازی می باشد.
                                </p>
                                <p> به شما این نوید را می دهیم که محصولاتتان به بهترین شیوه ممکن معرفی نماییم.</p>
                            </div>
                        </div>
                    </div>
                    <!--// Panel-default -->
                    <!-- Panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse3" aria-expanded="false" aria-controls="faq-collapse3"> <span class="button-faq"></span>دسترسی فروشنده به پنل مدیریت سفارشات</a>
                            </h5>
                        </div>
                        <div id="faq-collapse3" class="collapse" role="tabpanel" data-parent="#faq-five">
                            <div class="panel-body">

                                <p>
                                    به  فروشنده های همکار دسترسی پنل مدیریت سفارشات داده می شود تا با راحت ترین حالت ممکن سفارشات محصولاتشان را مشاهده نمایند و برای مشتری ارسال نمایند.
                                </p>
                                <p> با دسترسی به پنل مدیریت سفارشات می توانید محصولات فروخته شده و همچنین آدرس کامل مشتری را مشاهده کنید و برای ارسال کالا اقدام نمایید.</p>
                            </div>
                        </div>
                    </div>
                    <!--// Panel-default -->
                    <!-- Panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse4" aria-expanded="false" aria-controls="faq-collapse4"> <span class="button-faq"></span>تبلیغ محصولات فروشنده همکار در فضای مجازی اینستاگرام</a>
                            </h5>
                        </div>
                        <div id="faq-collapse4" class="collapse" role="tabpanel" data-parent="#faq-five">
                            <div class="panel-body">

                                <p>
                                    ما به صورت تخصصی و با بهره گیری از دانش و تجربه در فضای مجازی اینستاگرام محصولاتتان را تبلیغ می نماییم.
                                </p>
                                <p>تیم ما متشکل از کارشناسان مجرب در حوزه فضاهای مجازی به خصوص اینستاگرام می باشد.</p>
                            </div>
                        </div>
                    </div>
                    <!--// Panel-default -->
                </div>
            </div>

                <div class="col-lg-6 col-md-6">
                    <div class="section_title">
                        <h2>مشتریان ما چه می گویند؟</h2>
                    </div>
                    <div class="faq-style-wrap" id="faq-five">
                        <!-- Panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a id="octagon" class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse5" aria-expanded="true" aria-controls="faq-collapse5">
                                         <span class="button-faq"></span>سعید کارشی - فروشگاه آرتیلو
                                    </a>
                                </h5>
                            </div>
                            <div id="faq-collapse5" class="collapse show" aria-expanded="true" role="tabpanel" data-parent="#faq-five">
                                <div class="panel-body">

                                    <p>
                                        بنده محصولات هنری در زمینه چاپ با طراحی های دیجیتال و طراحی های هنری بر روی انواع تابلو، لباس و ... را انجام می دهم. این سایت به من در فروش بیشتر محصولاتم به صورت تخصصی بسیار کمک نمود. ممنون از آقای قوامی بابت ارائه این فرصت.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--// Panel-default -->
                        <!-- Panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse6" aria-expanded="false" aria-controls="faq-collapse6">
                                         <span class="button-faq"></span>کاوه محمودیان - فروشگاه چرم هورین
                                    </a>
                                </h5>
                            </div>
                            <div id="faq-collapse6" class="collapse" aria-expanded="false" role="tabpanel" data-parent="#faq-five">
                                <div class="panel-body">

                                    <p>
                                        بنده در زمینه تولید انواع محصولات چرمی اعم از کیف، کفش و دستبند ها و گردنبند های چرمی فعالیت می نمایم. این سایت به صورت تخصصی و حرفه ای فروش محصولاتم را به طرز چشمگیری افزایش داد. ممنونم از سایت خوبتون.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <!--// Panel-default -->
                    </div>
                </div>
            </div>
        </div>
        <!--testimonial area end-->
    </div>
</div>