@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}

<div class="error_page_bg">
    <div class="container">
        <div class="error_section">
            <div class="row">
                <div class="col-12">
                    <div class="error_form">
                        <h1>404</h1>
                        <h2>صفحه یافت نشد!</h2>
                        <p>متاسفیم صفحه ای که به دنبال آن هستید وجود ندارد.<br>
                            احتمالا حذف شده، تغییر نام یافته و یا به طور موقت قابل دسترسی نیست.</p>
                        <form method="get" asp-page="/Search">
                            <input placeholder="جستجو ..." name="value" id="value" type="text">
                            <button type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                        <a asp-page="/Index">بازگشت به صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>