@page
@model ServiceHost.Pages.ContactUsModel

@{
    ViewData["Title"] = "تماس با ما";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-page="/Index">صفحه اصلی</a></li>
                        <li>تماس با ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_page_bg">
    <!--contact map start-->
    <div class="contact_map">
        <div class="map-area">
            <div class="about_thumb">
                <img src="~/SiteTheme/assets/img/about/contactMap.jpg" alt="نقشه شرکت بر روی گوگل مپ">
            </div>
        </div>
    </div>
    <!--contact map end-->
    <div class="container">
        <!--contact area start-->
        <div class="contact_area">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message content">
                        <h3>تماس با ما</h3>
                        <p>شما می توانید در هر ساعت از شبانه روز با استفاده از شماره های درج شده یا برنامه های پیام رسان نمایش داده شده در سایت سوالات خود را با ما در میان بگذارید.</p>
                        <ul>
                            <li><i class="fa fa-fw fa-fax"></i> آذربایجان غربی، بوکان. خیابان باهنر (آموزش و پرورش). پلاک 5</li>
                            <li><i class="fa fa-fw fa-phone"></i> <span class="ltr-text">(+98) 933 787 8585</span></li>
                            <li><i class="fa fa-fw fa-envelope-o"></i> <a href="#">navid_ghavami@outlook.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message form">
                        <h3>با ما در میان بگذارید</h3>
                        <form id="contact-form" method="POST">
                            <p>
                                <label> نام شما (الزامی)</label>
                                <input name="name" placeholder="نام *" type="text" required="">
                            </p>
                            <p>
                                <label> ایمیل شما (الزامی)</label>
                                <input name="email" placeholder="* ایمیل" type="email" dir="ltr" required="">
                            </p>
                            <p>
                                <label> موضوع</label>
                                <input name="subject" placeholder="موضوع" type="text">
                            </p>
                            <div class="contact_textarea">
                                <label> پیام شما</label>
                                <textarea name="message" placeholder="پیام *" class="form-control2" required=""></textarea>
                            </div>
                            <br/>
                            <button type="submit">ارسال</button>
                            <p class="form-messege"></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--contact area end-->
    </div>
</div>