@page
@model IndexModel
@{
    ViewData["Title"] = "فروشگاه محصولات هنری";
}


<!--slider area start-->

@await Component.InvokeAsync("Slider")

<!--slider area end-->
<!--shipping area start-->
@await Component.InvokeAsync("ShippingList")
<!--shipping area end-->
<!--banner area start-->
@await Component.InvokeAsync("ProductCategoryTopBanner")
<!--banner area end-->
<!--home section bg area start-->
<div class="home_section_bg">
    <!--Categories product area start-->
    @await Component.InvokeAsync("ProductCategoryWithProductsCount")
    <!--Categories product area end-->
    <!--product area start-->
    @await Component.InvokeAsync("GetLatestArrivals")
    <!--product area end-->
    <!--product area start-->
    @await Component.InvokeAsync("MostViewProduct")
    <!--product area end-->
    <!--banner area start-->
    @await Component.InvokeAsync("ProductCategoryMiddleBanner")
    <!--banner area end-->
    <!--product area start-->
    @await Component.InvokeAsync("ProductCategoryWithProducts")
    <!--product area end-->
    <!--product area start-->
    @await Component.InvokeAsync("MostSellProduct")
    <!--product area end-->
    <!--product area start-->
    @await Component.InvokeAsync("BestChoiceProduct")
    <!--product area end-->
    <br />
    <!--blog area start-->
    @await Component.InvokeAsync("Article")
    <!--blog area end-->
</div>
<!--home section bg area end-->
